
*{
	font-family: sans-serif;
	font-size: 15px;
}

h1{
	font-size: 30px;
}

#external{
	color: yellow;
	font-size: 15px;
}

#UpperCase{
	color: black;
	font-size: 13px;
}

.offering-item{
	background-color: yellowgreen;
}

li[id]{
	border: 3px solid lightblue;
}

#js img {
	height: 300px;
	width: 300px;
	border-radius: 250px;
}

body > section > ul > li {
	letter-spacing: 7px;
}

section ~ p{
	text-align: center;
	color: black;
}
