/*
	Syntax of using CSS rules:
	selector{
		property: value;

	}
*/

/*Universal Selector*/
/*It targets all the elements in our webpage.*/
*{
/* font-f amily property changes the style of the font*/
/* font-size change the size of the text */
	font-family: "Courier New", monospace;
	font-size: 20px;
}


/*Type selector*/
/* tag-name */
h1{
	color:white;
}


/*ID selector*/
/*It targets only one element.*/
#zuitt-motto{
/*The letter-spacing property changes the spaces between the characters in a text. */
	letter-spacing: 5px;
}

/*Class Selector*/
/*.class-name*/
.offering-item{
/*text-transfor property changes the font to a certain case*/
/*uppercase value changes the text to all capitalized letter*/
	text-transform: uppercase;
}

/*Attribute selector*/
/*[attribute]*/
[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*h3{
	letter-spacing: 25px !important;
}

/*Adjacent sibling selector*/
/*element-for-reference + target+element*/
#zuitt-motto + img {
/* height property changes the vertical dimension of an element */
	height: 300px;
/* width property changes the horizontal dimension of an element */
	width: 300px;

	border-radius: 150px;
}

/* Descendant Selector*/
/*element-for-reference target-element*/
#bootcamp-learning-list 

li{
	color: #03e7fc;
}

/*General Sibling Selector*/
h2 ~ a{
/*text-decoration property changes lines included in text (example: overline, underline and strike) */
/*none value will remove the underline from anchor tag*/
	text-decoration: none;
}
/*Child selector*/
form > label {
 color: rgb(252, 3, 3);
}

body{
	background-color: orangered;
}

section{
/*vh - viewport height */
	height: 100vh;
	text-align:center;
}

html{
/*scroll-behavior - A property that changes the scrolling behavior 	when clicking the anchor tags */
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

/*pseudo class*/
a:hover{
	background-color: #03fce7;
}

div{

	display: inline;
/*float property changes the */
	float: right;
}

ol{
	list-style-type: none;
}

form{
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw;
/*Position property changes the position of an element based on a certain criteria*/
	position: relative;
	left: 37.5%;
}

button{
	background-color: #03fc5a;
	color:blue;
	border: 0;
	border-radius: 15px;
}