	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<title>HTML Tables and Forms</title>
	</head>

	<body>
		
		<header>
			<h1>HTML Tables and Forms</h1>
		</header>

		<main>
			<!-- This section is for the HTML 
			<section>

				<h2>HTML Entities and Tables</h2>

				<p>
					<em>Reserved characters in HTML (e.g. &lt; or &gt; characters that can mix up with HTML code).</em>
				</p>

				<!-- <table> tag -  defines an HTML table that allows us to represent data in tabular. -->
				<table border = "2">
					<!-- <thead> tag - is used to group the header content in an HTML table -->
					<thead>
						<!-- <tr> tag - denotes the table row -->
						<tr>
							<!-- <th> tag - define table header column/s -->
								<!-- colspan attribute will alter the number of column -->
							<th colspan = "2">Entity</th>
								<!-- rowspan attibute will alter the number of rows -->
							<th rowspan = "2">Description</th>
						</tr>

						<tr>
							<th>Symbol</th>
							<th>String</th>
						</tr>
					</thead>

					<!-- <tbody> tag - used to group body content in an HTML table -->
					<tbody>
						<!-- This row is for the less than -->
						<!-- If you want to add table row on your body, it is the same with adding table row with thead -->
						<tr>
							<!-- <td> tag - defines a table data element -->
							<td>&lt;</td>
							<td>lt</td>
							<td>less than</td>
						</tr>

						<!--  This row is for the greater than symbol -->
						<tr>
							<td>&gt;</td>
							<td>gt</td>
							<td>greater than</td>
						</tr>

						<!-- This row is for peso symbol -->
						<tr>
							<td>&#8369;</td>
							<td>#8369</td>
							<td>peso sign</td>
						</tr>

						<!-- This row is for the ampersand symbol -->
						<tr>
							<td>&amp;</td>
							<td>amp</td>
							<td>ampersand</td>
						</tr>

						<!-- Mini-activity: finish the table -->

						<!-- This row is for the double quotation mark -->
						<tr>
							<td>&quot;</td>
							<td>quot</td>
							<td>double quotation mark</td>
						</tr>

						<!-- This row is for the single quotation mark -->
						<tr>
							<td>&apos;</td>
							<td>apos</td>
							<td>single quotation mark(apostrophe)</td>
						</tr>

						<!-- This row is for the lower tilde -->
						<tr>
							<td>&ntilde;</td>
							<td>ntilde</td>
							<td>Lower Tilde</td>
						</tr>

						<!-- This row is for the Upper Tilde -->
						<tr>
							<td>&Ntilde;</td>
							<td>Ntilde</td>
							<td align = "center"><strong>Upper Tilde</strong></td>
						</tr>
					</tbody>

					<!-- <tfoot> tag - is used to group footer content in an HTML table -->
					<tfoot>
						<tr>
							<th colspan = "3">List of HTML entities</th>
						</tr>
					</tfoot>
				</table>
			</section>


			<hr>

			<section>
				<h2>HTML Forms</h2>
				<p><em>Input elements that make up a form.</em></p>

				<!-- The form starts here -->
				<!-- <form> tag - creates an HTML form ti capture the user input -->
					<!-- action attribute - is used to define where the information will be sent upon submission -->
					<!-- method attribute will declare what method will be done to the data collected. -->
				<form>
					<!-- <label> tag - creates text element that will serve as the label for an input field. -->
						<!-- for attribute is used with the id attribute in an input element. This allows the users to select the input field when they are clicked. -->
					<label for = "fullName">Full name:</label><br>
					<!-- name attribute will provide the input field with a name that we use to associate with the information/data provided by the user. -->
					<input type="text" name="fullName" id="fullName" required/><br>
					<br>

					<!-- This input will be responsible for collecting the birth date of the user -->
						<label>Birth Date:</label>
						<input type="date" name="birthDate" id = "birthDate" required/><br>
						
						<!-- This input will be responsible for collecting the age of the user -->
						<label for = "age">Age:</label><br>
						<input type="number" name="age" id = "age" required /><br>

						<!-- Creates dropdown menu for the gender selection. -->
						<label>Gender:</label><br>
						<select name = "gender" id = "gender"> 
							<option value = "3">Male</option>
							<option value = '2'>Female</option>
						</select><br>

						<!-- Create text area for the notes -->
						<label for = "notes">Notes:</label><br>
						<textarea name = "notes" rows = "5"></textarea><br>

						<!-- Radio Buttons -->
						<label>New User:</label><br>


						<input type="radio" name="newUser" value  = "yes" id = "usertype-1"/>
						<label for = "usertype-1">Yes</label><br>

						<input type="radio" name="newUser" value= "no" id = "usertype-2"/>
						<label for = "usertype-2">No</label><br>

						<!-- Checkboxes -->
						<label>Role:</label><br>

						<input type="checkbox" name="role1" value = "Developer" id = 'role1'>
						<label for = "role1">Developer</label><br>

						<input type="cehckbox" name="role2" value = "Student" id = "role2">
						<label for = "role2">Student</label><br>

						<input type="checkbox" name="role3" value = "Manager" id = "role3">
						<label for = "role3">Manager</label><br>


					<!-- <button> tag - creates a button that will trigger the form submission -->
						<!-- the type attributewill define how the button will behave. By default, the type of button is submit. -->
					<button type = "submit">Submit</button><br>

					<button type = "reset">Reset</button>
				</form>
			</section>

		</main>

	</body>
</html>
